################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demos/license-20170313023152.zip
*.scwdp
demos/02-scoobarm/Sitecore 8.2.1/license.xml
